.btn {

    border-radius: 5px;
    height: 4rem;
    padding: 1%;
    border: none;
    position: relative;
    background: linear-gradient(45deg, #1c3634 0, #477583 85%, #49badd 100%);
    color: white;

    &:hover {
        color: black;
        background: white;
        border: 2px solid #074b3f;
    }
    &.small{
        border: 2px solid #84dacb;
    padding: 7px !important;
    border-radius: 0.6rem;
    }
}

.btn-back {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-top: 20px 0px;
}